body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-clock {
  margin-top: 3px;
}

.fa-paw {
  margin-top: 5px;
}

.fa-heart {
  margin-top: 3px;
  font-size: 15px;
  color: #ffc1c1;
}