* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-user-circle {
  font-size: 25px;
}

.fa-sign-out-alt {
  font-size: 25px;
}

.fa-arrow-left {
  padding: 7px;
}

.fa-clock {
  margin-top: 3px;
}

.fa-heart {
  margin-top: 3px;
  font-size: 15px;
  color: #ffc1c1;
}

.fa-user {
  color: #d3d3d4;
  margin: 15px;
}
